body {
    font:'Helvetica';
    margin: 0;
    width: 70%;
    background-color: black;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: underline;
    color: blue;
}

h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

a:link {
    color: cornflowerblue;
}

a:visited {
    color: mediumpurple;
}
::-webkit-scrollbar { 
    display: none; 
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.titleBar{
	background: black;
	position: absolute;
	left: 0;
	right: 0;
	top: 25px;
	height: 40px;
	color: white;
	font-size: 90%;
}

#titleBarImage{
	position: absolute;
	padding-left: 50px;
	top: -5px;
}

#titleBarName{
	position: absolute;
	padding-left: 150px;
    top: 13px;
}

#titleBarAbout{
	position: absolute;
    padding-left: 285px;
    top: 13px;
}

.heading {
	position: relative;
    left: 150px;
    top: 250px;
    font-size: 200%;
}

h1:hover {
    background-image: linear-gradient(90deg, crimson, orange, yellow, green, blue, violet, lavender);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;;
}

#g_title:not(:hover) , #u_title:not(:hover) , #i_title:not(:hover) , #t_title:not(:hover) , #a1_title:not(:hover) , #r_title:not(:hover) , #b_title:not(:hover), #a2_title:not(:hover) , #n_title:not(:hover) , #d_title:not(:hover) {
    color: orchid;
}


#neon{
	color: white;
	left: 150px;
    	top: 250px;	
}


.AboutMe{
position: relative;
    left: 150px;
    top: 800px;
    font-size: 100%;
}

.footerBar{
	position: relative;
	width: 100%;
	height: 1200px;
	bottom: 0px;
}
