body {
    font:'Helvetica';
    margin: 60px auto;
    width: 70%;
    background-color: black;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: underline;
    color: blue;
}

h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}



.titleBar{
    color: white;
}


.heading {
    left: 50px;
    top: 200px;
    font-size: 150%;
}

h1 {
    background-image: linear-gradient(90deg, crimson, orange, yellow, green, blue, violet, lavender, plum);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;;
}

#g_title:not(:hover) , #u_title:not(:hover) , #i_title:not(:hover) , #t_title:not(:hover) , #a_title:not(:hover) , #r_title:not(:hover) , #b_title:not(:hover) , #a_title:not(:hover) , #n_title:not(:hover) , #d_title:not(:hover) {
    color: white;
}

#g_title:hover , #u_title:hover , #i_title:hover , #t_title:hover , #a_title:hover , #r_title:hover , #b_title:hover , #a_title:hover , #n_title:hover , #d_title:hover {

}
